<!-- templates/home.html -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=9.0">
    <title>Mowlood Izadi - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    
        <header class="bg-primary text-white text-center py-5">
            <section style="font-family: 'Poppins', sans-serif; font-size:large; color: #333;"> 
              <h1 class="display-4"> <strong>Mowlood Izadi</strong></h1>
                 <p class="lead"><strong>Welcome to my portfolio!</strong></p>
                </section> 
        </header>
    

    <section style="font-family: 'Poppins', sans-serif; font-size:large; color: #333;"> 
       <section class="container my-5">
    <h2 class="mb-4"><strong>About Me</strong></h2>
    <p> <em> City University of London graduate with BEng (Hons) 2:1 in Biomedical/Electrical Engineering. 
        Currently, I am studing DevOps Engineering at AiCore bootcamp. 
        My studies have given me a detailed understanding of engineering and its application as well as
        strong analytical and problem-solving skills through practical projects at university.
        I have developed experience designing and building medical and electrical devices and programming them using Python,
        MATLAB, Arduino and Proteus.I am looking to apply my skills in a professional environment in the engineering and 
        technology industry.</em></p>
</section>
</section>

<section style="font-family: 'Poppins', sans-serif; font-size:large; color: #333;"> 
     <section class="container my-5">
    <h2 class="mb-4"><strong> Recent Projects</strong></h2>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Development of a wearable finger ring for vital sign monitoring: </strong></h5>
                <p class="card-text"><em> I designed a medical ring with a PPG sensor to measure an individual's heart rate, blood pressure and body 
                    temperature using LTspice,which I had experience working with electronic component to build the ring prototype and programmed
                    it with Arduino and LabView to aquis data.</em></p>

                <a href="#" class="btn btn-primary">Link to Project 1</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong> Weather station using Arduino:</strong></h5>
                <p class="card-text"><em> I designed and developed a weather station prototype for monitoring the humidity, temperature, air pressure,
                    light intensity,date,time,and location using Proteus and Arduino.</em></p>

                <a href="#" class="btn btn-primary">Link to Project 2</a>
            </div>
        </div>
        <div class="card"> 
            <div class="card-body">
            <h5 class="card-title"><strong>Remote Patient Monitoring System:</strong></h5>
            <p class="card-text"> <em> I designed and developed a weather station prototype for monitoring the humidity, temperature, air pressure,
                light intensity,date,time,and location using Proteus and Arduino.</em></p>
            <a href="#" class="btn btn-primary">Link to Project 3</a> 
         </dive>
        </div>
        
        <div class="card-deck"> 
        <div class="card"> 
            <div class="card-body">
                 <h5 class="card-title"><strong>Personal Portfolio Website:</strong></h5>
                 <p class="card-text"><em>I developed my own personal portfoilo website using Python, HTML, CSS, Java script in Visual Studio code as
                    a project to broadcast my resume and my personal profile.</em></p> 

                <a href="#" class="btn btn-primary">Link to Project 4</a> 
        </dive>
        </div>      
    </div>
</section>
         <ul>
            <li><a href="/projects/project1">Project 1</a> - Description 1</li>
            <li><a href="/projects/project2">Project 2</a> - Description 2</li>
            <li><a href="/projects/project3">Project 2</a> - Description 3</li>
            <li><a href="/projects/project4">Project 2</a> - Description 4</li>
            <!-- Add more projects as needed -->
         </ul>
    </section>

    <section class="container my-5">
        <h2 class="mb-4"><strong>Contact Me</strong></h2>
        <p>Feel free to reach out!</p>
           <p><em>email: mowlood.izadi.2@city.ac.uk</em></p>
           <p><em>mobile:00447949299777</em></p>
        
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Mowlood Izadi. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</section>
</body>
</html>