<!-- templates/projects.html -->

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Add this in the head section of projects.html -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name - Projects</title>
    <!-- Add your CSS styles or link to a CSS framework here -->
</head>
<body>

    <header>
        <section style="font-family: 'Poppins', sans-serif; font-size:large; color: #333;">
        <h1> <strong> Projects </strong></h1>
    </section>

        <p>Explore some of my recent projects</p>
    
    </header>

    <section style="font-family: 'Poppins', sans-serif; color: #333;">
        <h2 class="mb-4">Project 1</h2>
        <p class="lead">I designed a medical ring with a PPG sensor to measure an individual's heart rate, blood pressure and body 
            temperature using LTspice,which I had experience working with electronic component to build the ring prototype and programmed
            it with Arduino and LabView to aquis data.</p>
        <a href="#" class="btn btn-primary" style="background-color: #84afde; border-color: #84afde;">Link to Project 1</a>
    </section>

    <section style="font-family: 'Poppins', sans-serif; color: #333;">
        <h2 class="mb-4">Project 2</h2>
        <p class="lead">I designed and developed a weather station prototype for monitoring the humidity, temperature, air pressure,
            light intensity,date,time,and location using Proteus and Arduino.</p>
        <a href="#" class="btn btn-primary" style="background-color: #84afde; border-color: #84afde;">Link to Project 2</a>
    </section> 
    
    <section style="font-family: 'Poppins', sans-serif; color: #333;">
    <h2 class="mb-4">Project 3</h2>
    <p class="lead">I developed a remote monitoring system to measure a patients heart rate and temperature and send it to NHS 
        in emergencies using Proteus and Arduino.</p>
    <a href="#" class="btn btn-primary" style="background-color: #84afde; border-color: #84afde">Link to Project 2</a>
</section>

<section style="font-family: 'Poppins', sans-serif; color: #333;">
    <h2 class="mb-4">Project 4</h2>
    <p class="lead">I developed my own personal portfoilo website using Python, HTML, CSS, Java script in Visual Studio code as
        a project to broadcast my resume and my personal profile.</p>
    <a href="#" class="btn btn-primary" style="background-color: #84afde ; border-color: #84afde">Link to Project 2</a>
</section>


    <!-- Add more project sections as needed -->

    <footer>
        <p>&copy; 2023 Mowlood Izadi. All rights reserved.</p>
    </footer>

</body>
</html>
